<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" media="all" href="../../css/tables.css" th:href="@{/css/tables.css}" />

<head>
    <meta charset="UTF-8"> 
    <title>Buy a Service Page</title>
</head>

<body>
	<h1>Choose which package you want to buy</h1>
	
	<div th:if="${session.customer}" th:text="${'Hello ' + session.customer.username}" align="right"></div>

	<div th:if="${session.customer}" align="right"> <a href="Logout">Logout</a> </div>
	
	
<div>
	<div>Select the service package you want to buy</div>
	<form action="GoToBuyService" method="POST">
	
		<select name = "servicePackageId">
		
			<option th:each = "p: ${servicePackages}" th:value = "${p.service_package_id}" th:text="${'Name: ' + p.name+ ', Id: ' + p.service_package_id}"></option>
		
		</select>
		<input type="submit" value="show">
	</form>
</div>


<div>
	<h1 th:text = "${'Package Selected: ' + servicePackageSelected.name+ ', Id: ' + servicePackageSelected.service_package_id}">Package Selected:</h1>
	
	<div>Services included:</div>
	<table th:each="s : ${servicePackageSelected.services}">  <!-- one table for every service in the package-->
		<thead>
			<tr>
				<th>Service Type</th>
				<th th:unless="${s.type == 'fixed phone'}">Parameters</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td th:text="${s.type}">[service type]</td>
				<td th:if="${s.type == 'mobile phone'}">
					<div th:text="${'Minutes: ' + s.mobilePhone.n_minutes}"></div>
					<div th:text="${'SMS: ' + s.mobilePhone.n_sms}"></div>
					<div th:text="${'Fee for extra minutes: ' + s.mobilePhone.fee_extra_minutes + ' euro/minute'}"></div>
					<div th:text="${'Fee for extra sms: ' + s.mobilePhone.fee_extra_sms + ' euro/sms'}"></div>
				</td>
				<td th:if="${s.type == 'fixed internet' || s.type == 'mobile internet'}">
					<div th:text="${'Gigabytes: ' + s.mobileAndFixedInternet.n_giga}"></div>
					<div th:text="${'Fee for extra gigabytes: ' + s.mobileAndFixedInternet.fee_extra_giga + ' euro/gigabyte'}"></div>
				</td>
			</tr>
		
		</tbody>
		
	</table>
	
	<form action="GoToConfirmationPage" method="POST">
		<br>
		<div>validity periods:</div>
	
		<select name = "validityPeriodId">
		
			<option th:each = "v : ${servicePackageSelected.validityPeriods}" th:value = "${v.validity_period_id}" 
			th:text="${'duration: ' + v.duration + ' months, monthly fee: ' + v.monthly_fee + ' euro'}"></option>
		
		</select>
		<br>
		<div> Optional Products: </div>
		
		<div th:each = "o : ${servicePackageSelected.optionalProducts}">
			<input  type = "checkbox" value = "true" th:name = ${o.optional_product_id} th:text = "${o.name + ' monthly fee: ' + o.monthly_fee + ' euro'}">
		</div>
		<br>
		
		Activation Day: <input type="date" name="startDate"
						th:min="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"
						placeholder="dd-mm-yyyy" required />
		
		<input type ="hidden" name ="servicePackageId" th:value="${servicePackageSelected.service_package_id}">
		<br>
		<br>
		<input type="submit" value="confirm">
		
	</form>
	

</div>
</body>

</html>