<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"> 
    <link rel="stylesheet" type="text/css" media="all" href="../../css/flex.css" th:href="@{/css/flex.css}" />
    <link rel="stylesheet" type="text/css" media="all" href="../../css/tables.css" th:href="@{/css/tables.css}" />
    <title>Customer Home Page</title>
</head>

<body>
	<h1">Customer home page</h1>
	
	<div th:if="${session.customer}" th:text="${'Hello ' + session.customer.username}" align="right"></div>
	
	<div th:if="${session.customer}" align="right"> <a href="Logout">Logout</a> </div>
	
	<div th:unless="${session.customer}" align="right"> <a href="Logout">Go to login page</a> </div>
	
	<p style="color:red;" th:text=" ${errorMsg}"></p>
	
	
	<div th:if="${session.customer && session.customer.times_rejected > 0}">
		<div>List of your non payed past orders you can retry to buy:</div>
		<table>
			<thead>
				<tr>                        <!-- creation date not printed cause it will then be overwritten when bought again -->
					<th>order Id</th>
					<th>Service Package Id</th>
					<th>Validity period Id</th>
					<th>Start date</th>
					<th>Total value</th>
					<th>Go see more details</th>
				</tr>
			</thead>
				
			<tbody>
				<tr th:each="o : ${rejectedOrders}">
					<td th:text="${o.order_id}"><td>
					<td th:text="${o.service_package_id}"><td>
					<td th:text="${o.validity_period_id}"><td>
					<td th:text="${o.start_date}"><td>
					<td th:text="${o.total_value}"><td>
					<td><a th:href="@{/GoToConfirmationWithOldOrder(orderId=${o.order_id})}"> <button type="button">Go to the confirmation page</button></a></td>
				</tr>
			
			</tbody>
		
		</table>
	
	</div>
	
	<div class = "container">  <!-- flex container div -->
	
	<div class = "left">  <!-- left part of flex for the service packages -->
		
		<table>
			<thead>
				<tr>
					<th>List of Service Packages available</th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="p : ${servicePackages}">      <!-- one row for every service package -->
					<td th:text="${'Name: ' + p.name+ ', Id: ' + p.service_package_id}"> [servicePackage name]</td>
					<td>
						<div>Services included:</div>
						<table th:each="s : ${p.services}">  <!-- one table for every service in the package-->
							<thead>
								<tr>
									<th>Service Type</th>
									<th th:unless="${s.type == 'fixed phone'}">Parameters</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td th:text="${s.type}">[service type]</td>
									<td th:if="${s.type == 'mobile phone'}">
										<div th:text="${'Minutes: ' + s.mobilePhone.n_minutes}"></div>
										<div th:text="${'SMS: ' + s.mobilePhone.n_sms}"></div>
										<div th:text="${'Fee for extra minutes: ' + s.mobilePhone.fee_extra_minutes + ' euro/minute'}"></div>
										<div th:text="${'Fee for extra sms: ' + s.mobilePhone.fee_extra_sms + ' euro/sms'}"></div>
									</td>
									<td th:if="${s.type == 'fixed internet' || s.type == 'mobile internet'}">
										<div th:text="${'Gigabytes: ' + s.mobileAndFixedInternet.n_giga}"></div>
										<div th:text="${'Fee for extra gigabytes: ' + s.mobileAndFixedInternet.fee_extra_giga + ' euro/gigabyte'}"></div>
									</td>
								</tr>
							
							</tbody>
							
						</table>
						
						<table th:unless="${p.optionalProducts.isEmpty()}">  <!-- one table for the optional products of the service-->
							<thead>
								<tr>
									<th>Optional products available:</th>
									<th>Extra fee</th>
									
								</tr>
							</thead>
							<tbody>
								
								<tr th:each="o : ${p.optionalProducts}">
									<td th:text="${o.name}">no optional products available</td>
									<td th:text="${o.monthly_fee + ' euro/month'}"></td>
								</tr>
							
							</tbody>
						
						</table>
					</td>
				
				
				</tr>
			
			</tbody>
		
		
		</table>
		
	
	</div>
	
	<div class = "right">  <!-- right part of flex for the validity periods ang go to buy a service button -->
		<div>Validity periods available:</div>
		<table>
			<thead>
				<tr> 
					<th> ID </th>
					<th> Duration </th>
					<th> Monthly Cost</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="v : ${validityPeriods}"> 
					<td th:text = "${v.validity_period_id}"> 25 </td>
					<td th:text = "${v.duration + ' months'}"> 5 months </td> 
					<td th:text = "${v.monthly_fee + ' euro'}"> 1000€ </td>
				</tr>
				
			</tbody>
		</table>
		
		<br><br><br>  <!-- blank space -->
		<div>
			<div>Click here if you want to purchase a service package</div>
			<a th:href="@{/GoToBuyService(servicePackageId=${servicePackages[0].service_package_id})}"> <button type="button">Buy a service package</button></a>
		</div>
	
	
	</div>
	
	
	</div>

	
</body>
</html>