<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" media="all" href="../../css/flex.css" th:href="@{/css/flex.css}" />
	<title>Employee Home page</title>

	<script src="../../javascript/employee.js" charset="utf-8" defer></script>

</head>
<body>
	
	<h1 th:text="${'Welcome ' + session.employee.username + ' this is your home page'}"></h1>
	
	<div align="right"> <a href="Logout">Logout</a> </div>
	
	<p style="color:red;" th:text=" ${errorMsg}"></p>
	
	<div class = "container">
	
	<div class = "left">

        <h1>Create a Service Package:</h1>
		
		<form action="CreateServicePackage" method="POST">

            Name of the Service Package: <input type="text" name="service_package_name" required> <br> <br>
            <br>
            <div>Specify the services you want to insert:</div>
            <br>

			How many Fixed Phone services do you want to include: <input type="number" min=0 name="fixed_phones">

			<br>
			<br>

			How many Mobile Phone services do you want to include: <input id="mobilePhonesCounter" min=0 type="number" name="mobile_phones">
			<div id="mobilePhoneDiv">

			</div>

			<br>

			How many Mobile Internet services do you want to include: <input id="mobileInternetCounter" min=0 type="number" name="mobile_internets">
			<div id="mobileInternetDiv">

			</div>

			<br>

			How many Fixed Internet services do you want to include: <input id="fixedInternetCounter" min=0 type="number" name="fixed_internets">
			<div id="fixedInternetDiv">

			</div>

			<br>

			How many Validity Periods do you want to pair with the package: <input id="validityPeriodCounter" min=1 type="number" name="validity_periods">
			<div id="validityPeriodDiv">

			</div>

			<br>

        <!-- outdated form code

		
			Mobile Phone <input type = "checkbox" value = "true" name = "mobile_phone"> <br>
				Number of minutes: <input type="number" min=0 name="mobile_phone_minutes" > <br>
				Number of sms: <input type="number" min=0 name="mobile_phone_sms" > <br>
				Fee per minutes: <input type="number" min=0 step="0.01" name="mobile_phone_fee_minutes" > <br>
				Fee per sms: <input type="number" min=0 step="0.01" name="mobile_phone_fee_sms"> <br> <br>
				
			Mobile Internet <input type = "checkbox" value = "true" name = "mobile_internet"> <br>
				Number of gigabytes: <input type="number" min=0 name="mobile_gigabytes" > <br>
				Fee for extra gigabytes: <input type="number" min=0 step="0.01" name="mobile_fee_gigabytes" > <br> <br>
				
			Fixed Internet <input type = "checkbox" value = "true" name = "fixed_internet"> <br>
				Number of gigabytes: <input type="number" min=0 name="fixed_gigabytes" > <br>
				Fee for extra gigabytes: <input type="number" min=0 step="0.01" name="fixed_fee_gigabytes" > <br> <br>
			
			Fixed Phone <input type = "checkbox" value = "true" name = "fixed_phone"> <br> <br>
			
		

        -->

            <!-- TODO add fixed phone number input-->

            <!-- TODO add validity period creation with javascript-->

            <div> Select the Optional Products that you want in the package: </div>
            <div th:each = "o : ${allOptionalProducts}">
                <input  type = "checkbox" value = "true" th:name = ${o.optional_product_id} th:text = "${o.name + ' - monthly fee: ' + o.monthly_fee + ' euro'}">
            </div><br>
            
            <input type="submit" value="Create Service Package">
        
        </form>
		
	</div>
	
	<div class = "right">
		<h1>Create an optional product</h1>
		
		<form action="CreateOptionalProduct" method="POST">
		
		Name of the Optional Product: <input type="text" name="optional_product_name" required> <br>
		Cost of the Optional Product: <input type="number" min=0 step="0.01" name="optional_product_cost" required> <br> <br>
		
		<input type="submit" value="Create Optional Product">
		</form>
	</div>
	</div>
</body>
</html>