<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" media="all" href="../../css/flex.css" th:href="@{/css/flex.css}" />
	<title>Employee Home page</title>
</head>
<body>
	<div align="right">
		<a href="Logout">Logout</a>
	</div>
	
	<h1 th:text="${'Welcome ' + session.employee.username + ' this is your home page'}"></h1>
	
	<div class = "container">
	
	<div class = "left">

		<h1>Create a Service Package:</h1>
		
		<form action="CreateServicePackage" method="POST">
		
			Name of the Service Package: <input type="text" name="service_package_name" required> <br> <br>
			<br>
			<div>Specify the services you want to insert:</div>
			<br>
			Mobile Phone <input type = "checkbox" value = "true" name = "mobile_phone"> <br>
				Number of minutes: <input type="text" name="mobile_phone_minutes" > <br>
				Number of sms: <input type="text" name="mobile_phone_sms" > <br>
				Fee per minutes: <input type="text" name="mobile_phone_fee_minutes" > <br>
				Fee per sms: <input type="text" name="mobile_phone_fee_sms"> <br> <br>
				
			Mobile Internet <input type = "checkbox" value = "true" name = "mobile_internet"> <br>
				Number of gigabytes: <input type="text" name="mobile_gigabytes" > <br>
				Fee for extra gigabytes: <input type="text" name="mobile_fee_gigabytes" > <br> <br>
				
			Fixed Internet <input type = "checkbox" value = "true" name = "fixed_internet"> <br>
				Number of gigabytes: <input type="text" name="fixed_gigabytes" > <br>
				Fee for extra gigabytes: <input type="text" name="fixed_fee_gigabytes" > <br> <br>
			
			Fixed Phone <input type = "checkbox" value = "true" name = "fixed_phone"> <br> <br>
			
			
			<div> Select the Optional Products that you want in the package: </div>
			<div th:each = "o : ${allOptionalProducts}">
				<input  type = "checkbox" value = "true" th:name = ${o.optional_product_id} th:text = "${o.name + ' - monthly fee: ' + o.monthly_fee + ' euro'}">
			</div><br>
			
			<input type="submit" value="Create Service Package">
		</form>
		
	</div>
	
	<div class = "right">
		<h1>Create an optional product</h1>
		
		<form action="CreateOptionalProduct" method="POST">
		
		Name of the Optional Product: <input type="text" name="optional_product_name" required> <br>
		Cost of the Optional Product: <input type="text" name="optional_product_cost" required> <br> <br>
		
		<input type="submit" value="Create Optional Product">
		</form>
	</div>
	</div>
</body>
</html>