<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" media="all" href="../../css/flex.css" th:href="@{/css/flex.css}" />
<link rel="stylesheet" type="text/css" media="all" href="../../css/tables.css" th:href="@{/css/tables.css}" />
<title>Sales Report</title>
	
</head>
<body>

<h1>Sales Report Page</h1>

<div align="right"> <a href="Logout">Logout</a> </div>
<br>
<div align="right"> <a href="GoToHomeEmployee">Go back to home</a> </div>

<div>Here you can inspect the essential data about the sales and about the users</div>
<br>

<div> Number of total purchases per package:</div>

<table> 
	<thead>
		<tr>
			<th>Service Package Id</th>
			<th>Number Of Purchases</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each = "o : ${totalPurchasesList}">
			<td th:text="${o.service_package_id}"></td>
			<td th:text="${o.number_of_purchases}"></td>
		</tr>
	</tbody>
</table>

<br>
<div> Number of total purchases per package and validity period:</div>
<table> 
	<thead>
		<tr>
			<th>Service Package Id</th>
			<th>Validity Period Id</th>
			<th>Number Of Purchases</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each = "o : ${totalPurchasesPerValList}">
			<td th:text="${o.service_package_id}"></td>
			<td th:text="${o.validity_period_id}"></td>
			<td th:text="${o.number_of_purchases}"></td>
		</tr>
	</tbody>
</table>
<br>

<div>Total value of sales per package with and without the optional products:</div>

<table> 
	<thead>
		<tr>
			<th>Service Package Id</th>
			<th>Revenue with Optionals</th>
			<th>Revenue without Optionals</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each = "o : ${totalRevenueWithOptionalsList}">
			<td th:text="${o.service_package_id}"></td>
			<td th:text="${o.revenue_with_optionals} + ' euro'"></td>
			<td th:text="${o.revenue_without_optionals} + ' euro'"></td>
		</tr>
	</tbody>
</table>


<br>
<div>Average number of optional products sold together with each service package:</div>

<table> 
	<thead>
		<tr>
			<th>Service Package Id</th>
			<th>Average number of Optionals</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each = "o : ${averageOptionalsList}">
			<td th:text="${o.service_package_id}"></td>
			<td th:text="${o.average_number_of_optionals}"></td>
		</tr>
	</tbody>
</table>

<br>

<div>List of insolvent users:</div>
<table> 
	<thead>
		<tr>
			<th>Customers</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each = "o : ${insolventUsersList}">
			<td th:text="${o.username}"></td>
		</tr>
	</tbody>
</table>


<br>
<div>List of alerts:</div>
<table>
	<thead>
		<tr>
			<th>Alert id</th>
			<th>Customer</th>
			<th>Email</th>
			<th>Amount of last rejected payment</th>
			<th>Date of last rejected payment</th>
		</tr>
	</thead>
	
	<tbody>
		<tr th:each="a : ${alertList}">
			<td th:text="${a.alert_id}"></td>
			<td th:text="${a.customer.username}"></td>
			<td th:text="${a.email}"></td>
			<td th:text="${a.amount + ' euro'}"></td>
			<td th:text="${a.date_and_time}"></td>
		</tr>
	
	</tbody>
</table>


<br>
<div>List of suspended orders</div>
<table>
	<thead>
		<tr>
			<th>Order Id</th>
		</tr>
	</thead>
	
	<tbody>
		<tr th:each="s : ${suspendedOrdersList}">
			<td th:text="${s.order_id}"></td>
		</tr>
	</tbody>

</table>


<br>
<div>Best seller/sellers optional product:</div>
<table>
	<thead>
		<tr>
			<th>Optional Product Id</th>
			<th>Total revenue</th>
		</tr>
	
	</thead>

	<tbody>
		<tr th:each= "o : ${optionalsTotalRevenueBestSellersList}">
			<td th:text="${o.optional_product_id}"></td>
			<td th:text="${o.total_revenue + ' euro'}"></td>
		</tr>
	
	</tbody>
</table>


</body>
</html>